@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Raleway:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flexbox;
}
#body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#navBar {
    width: 100%;
    height: 10vh;
    background-color: rgb(116, 42, 255);
    line-height: 10vh;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-evenly
}
#navBar a {
    color: white;
    text-decoration: none;
}
#form {
    width: 40%;
    height: 17vmax;
    margin-left: 2%;
    margin-top: 1.5%;
    background-color: #f2ecfd;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 1px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.137);
}
#form p {
    margin-left: 4%;
}
#form div {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 2%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    line-height: 8vh;
    position: relative;
}
input, select {
    height: 5vh;
    width: 35%;
    background-color: inherit;
    border: 1px solid #742AFF;
    margin-top: 1.5%;
    margin-right: 1%;
    color: #742AFF;
    outline: none;
}

#form button {
    width: 30%;
    height: 5vh;
    margin-left: 5%;
    border-radius: 15px;
    background-color: #742AFF;
    color: white;
}
#form button:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.233);
}
#available, #confirm {
    width: 30vh;
    height: 2.5vmax;
    border: 1px #742AFF solid;
    line-height: 2.5vmax;
    text-align: center;
}
.receipt {
    width: 82% !important;
    height: 22vmax !important;
}
.receipt input {
    width: 20vh !important;
}
#form #lastDiv{
    display: flex;
    flex-direction: horizontal !important;
}


@media only screen and (max-width: 600px) {
    #navBar a {
        visibility: hidden;
    }
    #navBar h1 {
        font-size: 26px;
    }
    #body {
        display: grid;
        position: relative;
        overflow: auto;
    }
    #form {
        width: 95vw;
        height: max-content;
        margin-top: 10%;
    }
    
    #form div {
        height: max-content;
        justify-content: end;
        flex-direction: column;
    }
    input, select {
        width: 70%;
        height: 10vw;
    }
    #available, #confirm {
        width: 20vh;
        height: 4vmax;
        line-height: 4vmax;
    }
    .receipt {
        width: 95% !important;
        height: max-content !important;
    }
    
}
